:root {
  --wwwinstagramcomdove-gray: rgba(115, 115, 115, 1);
  --www-instagram-com-segoe-UI-regular-font-family: "Segoe UI", Helvetica;
  --www-instagram-com-segoe-UI-regular-font-weight: 400;
  --www-instagram-com-segoe-UI-regular-font-size: 16px;
  --www-instagram-com-segoe-UI-regular-letter-spacing: 0px;
  --www-instagram-com-segoe-UI-regular-line-height: 20px;
  --www-instagram-com-segoe-UI-regular-font-style: normal;
  --www-instagram-com-segoe-UI-semibold-font-family: "Segoe UI", Helvetica;
  --www-instagram-com-segoe-UI-semibold-font-weight: 400;
  --www-instagram-com-segoe-UI-semibold-font-size: 16px;
  --www-instagram-com-segoe-UI-semibold-letter-spacing: 0px;
  --www-instagram-com-segoe-UI-semibold-line-height: 20px;
  --www-instagram-com-segoe-UI-semibold-font-style: normal;
  --www-instagram-com-semantic-heading-2-font-family: "Segoe UI", Helvetica;
  --www-instagram-com-semantic-heading-2-font-weight: 400;
  --www-instagram-com-semantic-heading-2-font-size: 20px;
  --www-instagram-com-semantic-heading-2-letter-spacing: 0px;
  --www-instagram-com-semantic-heading-2-line-height: 25px;
  --www-instagram-com-semantic-heading-2-font-style: normal;
  --www-instagram-com-semantic-item-font-family: "Segoe UI", Helvetica;
  --www-instagram-com-semantic-item-font-weight: 400;
  --www-instagram-com-semantic-item-font-size: 16px;
  --www-instagram-com-semantic-item-letter-spacing: 0px;
  --www-instagram-com-semantic-item-line-height: 20px;
  --www-instagram-com-semantic-item-font-style: normal;
}