.frame-2{
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 18px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
    margin: 10px auto;

}